Q1. List any five functions of the pandas library with execution.

In [3]:
###ANS- read_csv(): Reads a CSV file into a DataFrame.
import pandas as pd
df = pd.read_csv('taxonomy.csv.xls')

In [4]:
###head(): Returns the first n rows of the DataFrame (default n=5).

print(df.head())

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash

In [6]:
###groupby(): Groups DataFrame using a mapper or by a Series of columns.

grouped = df.groupby('parent_name')

###merge(): Merge DataFrame or named Series objects with a database-style join.


merged_df = pd.merge(df1, df2, on='taxonomy_id')

In [11]:
###dropna(): Removes missing values (NaN) from the DataFrame

df.dropna(inplace=True)

Q2. Re-indexing a DataFrame with a new index starting from 1 and incrementing by 2 for each row

In [12]:
import pandas as pd

def reindex_dataframe(df):
    new_index = pd.Series(range(1, len(df)*2, 2))  # Creating new index starting from 1, incrementing by 2
    df.index = new_index  # Assigning new index to DataFrame
    return df

# Example usage:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df_reindexed = reindex_dataframe(df)
print("Q2:")
print(df_reindexed)

Q2:
   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

Q3. Summing the first three values in the 'Values' column of a DataFrame

In [13]:
import pandas as pd

def sum_first_three(df):
    sum_values = df['Values'].head(3).sum()
    print("Sum of the first three values:", sum_values)

# Example usage:
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

Sum of the first three values: 60

Q4. Creating a new column 'Word_Count' in a DataFrame based on the number of words in 'Text'

In [14]:
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

# Example usage:
df = pd.DataFrame({'Text': ['Hello world', 'Python programming', 'Data analysis']})
df = add_word_count(df)
print("Q4:")
print(df)

Q4:
                 Text  Word_Count
0         Hello world           2
1  Python programming           2
2       Data analysis           2

Q5. Difference between DataFrame.size() and DataFrame.shape()

DataFrame.size: Returns the number of elements in the DataFrame (rows * columns).
DataFrame.shape: Returns a tuple representing the dimensions of the DataFrame (rows, columns).

Q6. Function to read an Excel file using pandas

In [16]:
import pandas as pd

# Example to read an Excel file
df = pd.read_excel('flight_price.xlsx', sheet_name='Sheet1')

Q7. Creating a new 'Username' column from an 'Email' column in a DataFrame

In [17]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

# Example usage:
df = pd.DataFrame({'Email': ['john.doe@example.com', 'jane.smith@example.com']})
df = extract_username(df)
print("Q7:")
print(df)

Q7:
                    Email    Username
0    john.doe@example.com    john.doe
1  jane.smith@example.com  jane.smith

Q8. Selecting rows from a DataFrame based on conditions

In [18]:
import pandas as pd

def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_df = select_rows(df)
print("Q8:")
print(selected_df)

Q8:
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In this example, select_rows() filters the rows where column 'A' is greater than 5 and column 'B' is less than 10, returning a new DataFrame with only the selected rows.