Q1: Create a Pandas Series and print it

In [1]:
import pandas as pd

# Creating a Pandas Series
series1 = pd.Series([4, 8, 15, 16, 23, 42])

# Printing the series
print("Q1:")
print(series1)

Q1:
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2: Create a list and convert it to a Pandas Series, then print the Series

In [2]:
# Creating a list with 10 elements
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Converting list to Pandas Series
series2 = pd.Series(my_list)

# Printing the series
print("\nQ2:")
print(series2)

Q2:
0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
import pandas as pd

# Creating the data using a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Creating the DataFrame
df = pd.DataFrame(data)

# Printing the DataFrame
print("Q3:")
print(df)

Q3:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example:
- The keys in the `data` dictionary (`Name`, `Age`, `Gender`) correspond to column names in the DataFrame.
- The values associated with each key are lists containing the respective data for each row.
- Pandas automatically aligns the data based on index position to create the DataFrame where each row represents an individual's information.

This DataFrame `df` has three columns (`Name`, `Age`, `Gender`) and three rows, each corresponding to the data provided.

Q4: What is a 'DataFrame' in pandas and how is it different from 'Series'? Explain with an example.

ANS


- Series: A Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It is essentially a single column of data.

- DataFrame: A DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database or a spreadsheet with rows and columns.

In [3]:
#EXAMPLE

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Printing the DataFrame
print("\nExample DataFrame:")
print(df)

Example DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In this example:

Each column (Name, Age, City) is a Series.
df is a DataFrame that holds these Series

Q5: Common functions to manipulate data in a Pandas DataFrame

ANS

Some common functions include:

head() and tail(): View the first or last few rows.
describe(): Generate descriptive statistics.
loc[] and iloc[]: Access a group of rows and columns by label(s) or integer(s).
drop(): Drop specified labels from rows or columns.
groupby(): Group DataFrame using a mapper or by a Series of columns.
merge(): Merge DataFrame objects by performing a database-style join operation.

In [4]:
# Example of using head() and describe()
print("\nQ5:")
print("Head of DataFrame:")
print(df.head())
print("\nDescription of DataFrame:")
print(df.describe())

Q5:
Head of DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Description of DataFrame:
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

Q6: Mutable nature of Series, DataFrame, and Panel

ANS--Series: Immutable. Once a Series is created, its data cannot be changed.
DataFrame: Mutable. You can modify the contents of a DataFrame, including adding or deleting columns and rows.
Panel: Deprecated in recent versions of pandas. Previously, it was a three-dimensional data structure, but now it's recommended to use MultiIndex DataFrame or xarray.

Q7: Create a DataFrame using multiple Series

In [5]:
# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Creating a DataFrame using the above Series
data = {
    'Name': names,
    'Age': ages,
    'City': cities
}
df_multiple_series = pd.DataFrame(data)

# Printing the DataFrame created from multiple Series
print("\nQ7:")
print("DataFrame created from multiple Series:")
print(df_multiple_series)

Q7:
DataFrame created from multiple Series:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In this example:

names, ages, and cities are individual Series.
The data dictionary contains these Series with their respective column names (Name, Age, City).
df_multiple_series is the DataFrame created using these Series.
Each row in the DataFrame corresponds to a set of values from the corresponding indices of the Series, creating a structured table-like format.